<div class="contenedor">
  <h2>Modifique la novedad Nº {{novedad.id}}</h2>

  {{#if error}}
    <div
      class="alert alert-danger container d-flex align-items-center"
      role="alert"
    >
      <div class="d-flex align-items-center">
        <i class="fa-solid fa-circle-exclamation me-2"></i>
        <p class="m-0">{{message}}</p>
      </div>
    </div>
  {{/if}}

  <form action="/admin/novedades/modificar" method="POST">

    <input type="hidden" value="{{novedad.id}}" name="id" />

    <label for="user">Titulo:</label>
    <input
      type="text"
      id="titulo"
      name="titulo"
      value="{{novedad.titulo}}"
      required
    />

    <label for="password">Cuerpo:</label>
    <textarea
      type="text"
      id="cuerpo"
      name="cuerpo"
      style="min-height: 200px"
      required
    >{{novedad.cuerpo}}</textarea>

    <button class="btn" type="submit">Modificar</button>
  </form>
</div>